
* { 
 border: 1px solid blue;
}

.main{
 background-color:rgb(78, 159, 132);
  width: 100%;
}


.content {
 padding: 115px 10px 10px 10px;
 margin: 10px 200px;
 border: solid 2px rgb(40,102,82);
 background-color: rgb(152,214,194);
}

.header {
  background-color: rgb(194,168,198);
  border-bottom: 2px solid rgb(40,102,82);
  display: flex;
   justify-content: space-around;
  overflow-y: auto;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000
}

.headercontainer {
 display: inline-block;
}

.name {
 font-family: "Architects Daughter", sans-serif;
 font-size: 50px;
 line-height: .3em;
}

.contact {
 font-family: "Architects Daughter", sans-serif;
 font-size: 24px;
 line-height: .5em;
}

img {
 border-radius: 100%;
 border: 1px solid rgb(40,102,82);
}

.heading {
 font-size: 22px;
 border-bottom: 1px solid rgb(40,102,82);
 line-height: 26px;
 text-transform: uppercase;
}

p li {
 font-size: 18px;
 line-height: 22px;
 font-family: "Arial", sans-serif;
}

.experience-line {
 display: flex; 
 justify-content: space-between;
}

.workplace {
 font-weight: bold;
 font-size: 18px;
 margin: 0px;
 padding: 0px;
}

.duration {
margin: 0px;
 padding:0px;
}

.inline {
 display: inline-block;
 margin: 0;
 padding: 0;
}

.position {
 font-style: oblique;
 margin: 0px;
 padding: 0px;
}

.flex {
 display: flex;
 justify-content: flex-start;
}
