.main{
 background-color:rgb(109, 115, 171);
  width: 100%;
}


.content {
 padding: 150px 10px 10px 10px;
 margin: 10px 200px;
 border: solid 2px rgb(65, 69, 113);
 background-color: rgb(206, 208, 227);
}

.header {
  background-color: rgb(118, 165, 235);
  border-bottom: 1px solid rgb(118, 165, 235);
  overflow-y: auto;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000
}

.headercontainer {
 display: inline-block;
 float: left;
}

.name {
 font-family: "Architects Daughter", sans-serif;
 font-size: 40px;
 line-height: 1.5em;
}

.contact {
 font-family: "Architects Daughter", sans-serif;
 font-size: 22px;
 line-height: 1.5em;
}

img {
 border-radius: 100%;
 float: right;
 object-fit: cover;
 position: relative
  right: 15px;
  bottom: 15px;
}

.heading {
 border-bottom: 1px solid rgb(65, 69, 113);
}


p li {
 font-size: 18px;
}

.experience-line {
 display: flex; 
 justify-content: space-between;
}

.workplace, .duration {
 display: inline-block;
}

.workplace {
 font-weight: bold;
 font-size: 22px;
}

.position {
 font-style: italic;
}
