
.content {
 margin: 200px 200px 10px 200px;
 border: solid 2px black;
 border-radius: 20px;
 background-color: rgb(172, 239, 242);
}

.header {
 position: fixed;
 background-color: rgb(118, 165, 235);
 margin: 10px 200px 0 200px;
 z-index: 1000;
}

.name {
 font-family: "Architects Daughter", sans-serif;
 font-size: 50px;
}

.contact {
 font-size: 24px;
}

.education {
 margin-top: 200px;
}

.workplace, .duration {
 display: inline;
}

.workplace {
 float: left;
 font-weight: bold;
}

.duration {
 float: right;
}

.position {
 font-style: italic;
}

li {
 font-size: 18px;
}
